<div class="page-wrapper">
  <article class="the-article flex-column">
    <header class="the-article-header flex-column">
      <div class="the-article-category"><%= @product&.category&.name %></div>
      <div class="the-article-title mt-12"><%= @product&.title %></div>
      <div class="the-article-meta"></div>
    </header>
    <section class="main mt-16 ">
      <div class="the-article-summary"><%= @product&.description %></div>
      <div class="the-article-body flex-column pd-2-side mt-16"><%= display_content(@product&.content) %></div>
    </section>
  </article>
</div>
<section class="section pd-2-side">
  <div>
    <header class="section-title">
      <h3>Bình luận</h3>
    </header>
    <div class="pd-2-side flex-column section-comment">
        <div id= "id_current_article"><%= @product.id%></div>
        <div id= "id_current_user"><%= current_user&.id%></div>
        <textarea id="id_new_comment" rows="4" cols="30"></textarea>
        <button id= "id_submit_comment">Bình luận</button>
    <div>
  </div>
  <div id="id_list_comment">
    <% @product&.comments.each do |comment|%>
      <div class="mt-12">
        <%= comment&.user&.name%>:
        <%= comment.content %>
      </div>
    <% end %>
  </div>
</section>
