<%= render 'header' %>

<div class="page-wrapper">
  <article class="the-article flex-column">
    <header class="the-article-header flex-column">
      <div class="the-article-category"><%= @product&.category&.name %></div>
      <div class="the-article-title mt-12"><%= @product&.title %></div>
      <div class="the-article-meta"></div>
    </header>
    <section class="main mt-16 ">
      <div class="the-article-summary"><%= @product&.description %></div>
      <div class="the-article-body flex-column pd-2-side mt-16"><%= display_content(@product&.content) %></div>
    </section>
  </article>
</div>

<%= render 'footer' %>
