<div class="user-form">
  <%= form_with(model: @user, url: new_user_path) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, placeholder: 'Nhập tên' %>
    </div>
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, placeholder: 'Nhập Email' %>
    </div>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, placeholder: 'Nhập mật khẩu' %>
    </div>
    <div class="flex-row group-btn">
      <%= form.submit 'Đăng kí' %>
      <button><%= link_to 'Đăng nhập', login_path%></button>
    </div>
  <% end %>
</div>
